@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #262626;
    color: #fff;
    overflow-x: hidden;
}

main {
    width: 90%;
    margin: 30px auto;
}

.movie-container {
    margin-top: 20px;
}

.movie {
    margin-bottom: 30px;
}

.movie-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    color: #262626;
}

.card-container {
    flex: 0 0 auto;
    width: 230px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.card-container img {
    width: 100%;
}

.card-container img:hover {
    cursor: pointer;
}

.card-title {
    font-size: 15px;
}

.trailer {
    position: fixed;
    z-index: 1;
    border: none;
    border-radius: 4px;
    min-height: 100px;
    display: none;
    width: 95%;
    background-color: #343a40;
    margin: 5% auto;
    left: 0;
    right: 0;
    top: 22vh;
}

.trailer p {
    height: 5px;
    color: white;
    text-align: right;
    font-weight: 500;
    margin-right: 10px;
}

.trailer-display {
    display: block;
}

.trailer div {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: 10px;
}

.trailer-display iframe {
    margin: 10px;
}

#trailer-close {
    cursor: pointer;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 150px;
    }
}